* {
  box-sizing: border-box;
}

header {
  background-color: #333;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dishes-container {
    padding: 20px;
}

.dishes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust minmax value for responsiveness */
    grid-gap: 20px;
}

.dish-card {
    border: 1px solid #ccc;
    padding: 10px;
}

.dish-card h2,
.dish-card h3 {
    margin: 0;
}

.dish-card img {
    max-width: 100%;
    height: auto;
}

.recipes-container {
  padding: 20px;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust minmax value for responsiveness */
  grid-gap: 20px;
}

.recipe-card {
  border: 1px solid #ccc;
  padding: 10px;
}

.recipe-card h2,
.recipe-card h3 {
  margin: 0;
}

.recipe-card img {
  max-width: 100%;
  height: auto;
}


