@import url('https://fonts.cdnfonts.com/css/farsi-inspired');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  padding: 12px 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  justify-content: center; 
  align-items: center;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 14px;
}

main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

main > * {
  max-width: 1200px; 
  width: 100%;
  margin: auto;
}

nav {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0 10px;
}

nav a:hover {
  color: #752B2B;
  font-weight: 600;
}

h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px;
  margin-top: 30px;
  font-family: 'FARSI-INSPIRED', sans-serif;                                             
  color: black;
  font-size: 8em;
  line-height: 5;
}

h2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px;
  font-size: 2em;
  margin-top: 30px;
  color: black;
  font-family: "Protest Riot", sans-serif;
  font-style: normal;
  letter-spacing: .5px;
}

h3 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px;
  font-size: 1.5em;
  color: black;
  font-family: "Noto Sans Display", sans-serif;
  line-height: 5;
}

h4 {
  font-size: 20px;
  color: black;
  font-family: "Noto Sans Display", sans-serif;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dishes-container {
  padding: 2px;
}

.dishes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
}

.dish-card {
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
  color: black;
}

p {
  font-size: 13px;
  padding: 5px;
}

.dish-card:hover {
 background-color: rgb(245, 244, 241);
}

.dish-card img {
  max-width: 100%;
  height: auto;
}

.recipes-container {
  padding: 20px;
}

.recipe-details {
  padding: 30px;
}

.recipes-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 20px;
}

.recipe-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.recipe-card img {
  max-width: 100%;
  height: auto;
}

.profile {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 20px;
}

.recipe-list {
  margin: 10px;
}

.recipe-view-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.recipe-card img {
  max-width: 100%;
  height: auto;
}

.recipeForm {
  font-family: 'Arial', sans-serif;
  background-color: #752B2B;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: auto; 
  max-width: 600px; 
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 18px; 
  position: absolute; 
  left: 50%; 
  top: 150px;
  transform: translateX(-50%); 
  z-index: 1; 
}

.formDiv {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: white;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  border-color: #752B2B; 
}

button.formSubmit {
  background-color: #752B2B; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.formSubmit:hover {
  background-color: darken(#752B2B, 10%); 
}


.footer {
  color: black;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 12px;
  padding: 5px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .recipes-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
